<div class="address">
  <span class="input-text">
    <label>Current Address</label>
    <input type="text" />
  </span>
  <div class="address-content">
    <span class="input-text">
      <label>Address Line 1</label>
      <input type="text" />
    </span>
    <span class="input-text">
      <label>Address Line 2</label>
      <input type="text" />
    </span>
    <span class="input-text">
      <label>City</label>
      <input type="text" />
    </span>
    <span class="input-text">
      <label>State</label>
      <input type="text" />
    </span>
    <span class="input-text">
      <label>Zip</label>
      <input type="text" />
    </span>

    <span class="input-text">
      <label>Current Address</label>
      <input type="text" />
    </span>


  </div>
</div>
