
.address{

}

.autocomplete_input{

}

.autocomplete_select{
   label{
    position: relative;
    padding-left:25px;
    color:#c2c3c3;
    margin-bottom:10px;
    &:before{
        content : '';
        background: url(../img/message-content.png);
        width:40px;
        height:40px;
        background-size:20px 20px;
        position: absolute;
        background-repeat:no-repeat;
        left:0;
    }
   }

}

.checkboxes{

}

.date{
    label{
        float:left;
    }
    .date-container{
        float:left;
        clear:both;
        margin-bottom:10px;
    }
}

.dollar{
    input{
        width: 180px;
    }
}

.multiple_checkboxes{

}

.multiple_choice_radio{
    input[type="radio"]{
        float:left;
        width: auto !important;
        height: auto !important;
        vertical-align: top;
        margin: 1px 15px 0 0;
    }

    label{
        float:left;
    }

    .input-text{
        display: block;
        width:100%;
        float:left;
        clear: both;
    }

}

.multiple_choice_select{
    select{
            display: block;
            height: 33px;
            line-height: 25px;
            width: 380px;
            font-size: 12px !important;
            border-radius: 2px;
            background-clip: padding-box;
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
            padding: 0 0 0 10px;
            border: 1px solid #e0e0e0;
            box-shadow: none;
            background-color: white;
            outline: none;
            width:180px;
    }
}

.number{

}

.select_institution{
     label{
    position: relative;
    padding-left:25px;
    color:#c2c3c3;
    margin-bottom:10px;
    &:before{
        content : '';
        background: url(../img/message-content.png);
        width:40px;
        height:40px;
        background-size:20px 20px;
        position: absolute;
        background-repeat:no-repeat;
        left:0;
    }
   }
}

.social_security_number{

}

.text{

}

.textarea{
    textarea{
        width: 380px;
        display: block;
        border: 1px solid #e0e0e0;
        padding: 10px;
    }
}

.toggle{
    label {
        display: inline-block;
        position: relative; /* needed for checkbox absolute positioning */
    }

    label > input[type="checkbox"] {
        display: block;
        position: absolute; /* remove it from the flow */
        width: 100%;
        height: 100%;
        margin: -.5rem; /* negative the padding of label to cover the "button" */
        cursor: pointer;
        opacity: 0; /* make it transparent */
        z-index: 666; /* place it on top of everything else */
    }

    label > input[type="checkbox"] + span {
        display: inline-block;
        width: 15px;
        height: 15px;
        background:#fff;
        border: 1px solid #c9c9c9;
        margin-right: .5rem;
        border-radius:4px;
        margin-top:1px;
        float: left;
        margin-right:10px;
    }

    label > input[type="checkbox"]:checked + span {
        background-color: #ddd;
    }
}



