.borrower{
    //each component class is affiliated to the borrower component html page file name    


    //*******************----------------------*******************
    //*******************----------------------*******************
    //*******************----------------------*******************
    //*******************----------------------*******************
    //*******************-----global start-----*******************
    //*******************----------------------*******************
    //*******************----------------------*******************
    //*******************----------------------*******************

        .form-cont{
        background:#E6EBED !important;
        border-radius:4px;
        padding-top:5px;
        
        .form-group{
            border-bottom:1px solid #fff;
            padding: 10px 20px;
            margin-bottom: 0;
            display: block;
            width: 100%;            
        }
        label{
            font-family: 'Whitney SSm A', 'Whitney SSm B', "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            width: 30%;
            color: #334d5c;
            font-weight: 500;
        }
        input[type="text"], input[type="number"]{
            border: 0;
            background-color: transparent;
            color: #334d5c;
            outline: none;
        }   
    }

     input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }


    //*******************----------------------*******************
    //*******************----------------------*******************
    //*******************----------------------*******************
    //*******************----------------------*******************
    //*******************------global end------*******************
    //*******************----------------------*******************
    //*******************----------------------*******************
    //*******************----------------------*******************


    @import 'buttons/buttons.scss';
    @import 'chatbubbles/chatbubbles.scss';
    @import 'docupload/docupload.scss';
    @import 'forminputs/forminputs.scss';
    @import 'graphics/graphics.scss';
    @import 'listtypes/listtypes.scss';
    @import 'misc/misc.scss';
    @import 'progress/progress.scss';
    @import 'splashscreens/splashscreens.scss';
    @import 'taskscreens/taskscreens.scss';
  


}
