@import "../fonts/fonts.scss";
@import "applicationStart.scss";
@import "variables.scss";
@import "mixins.scss";
@import "../components/borrower/borrower.scss";
@import "../components/lender/lender.scss";
// Global Components

body {
  margin:0;
  padding:0;
  overflow:hidden;
}

header{
  position: fixed !important;
  height:100%;
  left:0;
  padding:0;
  z-index: 9999;
  background:#fff;
  padding:0 !important;
  .navbar{
    border-right:1px solid #e1e1e1;
    height:100%;
    margin-top:0;
    padding-top:5%;
   
    background:#223A47;
    border-radius:0;
  }
}

.comp-container{
  width:100%;
  float:left;
  clear:both;
  div{
    float:left;
    width:100%;
  }
  .tmp.close{
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    right:20px;
    width:30px;
    height:30px;
    background:#fff;
    border-radius:50%;
    border:#ccc 1px solid;
    position:absolute;
    color:#777;
    font-size:14px;
    text-align:center;
    padding-top:7px;
  }
  &:hover{
    background:#f9f9f9;
    .tmp.close{
      opacity: 1;
    }
  }
}

.tmp-bottom{
  width:100%;
  height:10px;
  margin:10px 0 !important;
  border-bottom:1px solid #eee;
}

.view-port{
  &.borrower{
    .v-label{
      right:38%;
    }
  }
  // width:50%;
  padding:20px;
  position: relative;
  // position:absolute;
  float:left;
  height:100%;
  z-index: 0;
  overflow-y: scroll;
  padding-bottom:150px;
  label.v-label{
    position:fixed;
    width:75px;
    height:50px;
    top:96%;
    right:0px;
    z-index: 9999;
    text-align: right;
    padding:15px 20px;
    font-weight: 300;
    color:#aaa;
    font-size:12px;
    font-family: $whitney;

  }
}

.lender.view-port{
  // margin-left:50%;
  background:#fafafa;
  height:100%;
  border-left:#ddd 1px solid;
}


  .brand{
    background:#14252E;
    width:100%;
    height:70px;
    img{
      margin-left:15px;
      height:40px;
      margin-top:12px;
    }

  }

.dashboard-header{
  height:70px;
  box-shadow:#E0E0E0 0 1px 3px 0px;
  background:#14252E;
  ul{
      float:right;
      margin-right:100px;
      margin-top:25px;
      li{
        list-style: none;
        color:#fff;
        display: inline-block;
        &.active{
          background:#ccc;
        }
      }
  }
}

#split-bar {
    background: rgba(235,235,235,1);
background: -moz-linear-gradient(left, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 68%, rgba(235,235,235,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,235,235,1)), color-stop(35%, rgba(255,255,255,1)), color-stop(68%, rgba(255,255,255,1)), color-stop(100%, rgba(235,235,235,1)));
background: -webkit-linear-gradient(left, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 68%, rgba(235,235,235,1) 100%);
background: -o-linear-gradient(left, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 68%, rgba(235,235,235,1) 100%);
background: -ms-linear-gradient(left, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 68%, rgba(235,235,235,1) 100%);
background: linear-gradient(to right, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 68%, rgba(235,235,235,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ebebeb', GradientType=1 );
    height:100%;
    left:50%;
    margin-left:-14px;
    position: absolute;
    width: 14px;
    cursor: col-resize;
    z-index: 999;


}
#split-bar:after {
    content : '';
    background-image:url(../img/bar-split.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top:50%;
    width:10px;
    height:25px;
    margin-top:-15px;
    left:2px;
}



.main-container{
  position: absolute;
  background:#fff;
  min-height: 100%;
  left:25%;
  padding:0;
}

nav{
  width: 100%;
  margin-top:30px;
  ul{
    padding:0;
    margin:0;

    width:100%;

    ul{
      display: none;
    }
    li{
      list-style: none;
      color:#4A4A4A;
      border-bottom:1px #4D5C64 solid;
      padding:0;
      padding:10px 0;
      // border-top:1px #E0E0E0 solid;
      cursor: pointer;
      text-transform: capitalize;
   
        color:#fff;
        text-decoration:none;
        display: block;
        width:100%;
        font-size:15px;
            -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;


        // background:url(../img/carat.png) no-repeat 95% center;
      &.open{
        padding-bottom:10px;
        color:#7AC5CC;
        font-size:15px;
        text-decoration: none;
        margin-bottom:0px;

         
        ul{
          display: block;
          margin-top:10px;
          margin-bottom:10px;
          li{
            padding:3px 10px;
            margin:0;
            font-size:13px;
            margin-left:20px;
                     -webkit-transition: all .0s ease;
    -moz-transition: all .0s ease;
    -ms-transition: all .0s ease;
    -o-transition: all .0s ease;
    transition: all .0s ease;
            color:#fff;
            &:hover{
              border-left:#5A6F7A 1px solid;
              padding-left:9px;
            }
            &.active{
              border-left:#5A6F7A 1px solid;
              padding-left:9px;
            }
          }          
        }
      }
      li{
        margin:0;
        padding:0;
        border:none;
        padding-left:20px;
        margin-top:10px;
      }
    }
  }
}

.inner-container{
  max-width:1040px;
  margin:0 auto;
}

.text-muted {
  color: $gray;
}

.text-primary {
  color: $brand-primary;
}


.emblem-start{
  .inner-container{
    background:#000;
  }
}

#services{

  padding:0;
  background:rgba(255, 255, 255, .95);
  float: left;
  position: relative;
  width: 100%;
    @media(max-width : 420px){
      padding-top:30px;
    }
  .service{
    @media(max-width : 420px){
      margin-left:3%;
      padding:0;
      margin-bottom:20px;
      float:left;
      width:90%;
      left:5%;
    }
    float:left;
    display: block;
    cursor: pointer;
    font-family: $whitney;
    h4{
      float:left;
      clear:right;
      font-size:28px;
      color:#495452;
    }
  &.prepare{
      background:url(../img/service-prepare.png) no-repeat 45px center;
  }
  &.calculate{
      background:url(../img/service-calculate.png) no-repeat 45px center;
  }
  &.compare{
      background:url(../img/keys.svg) no-repeat 45px center;
  }
    text-align: left;
    padding:0 !important;
    border-right:rgba(73, 84, 82, .15) 1px solid;
    &:last-child{
      border-right:none;
    }
    .inner{
     color:#333;
     padding:20px;
     padding-bottom:30px;
     float:left;
     padding-left:136px;

     .service-heading{
      // font-size:32px;
     }

     p{
      float:left;
      font-size:14px;
      padding-right:25px;
      line-height:20px;
      font-family: $gotham;

     }

    }
  }

  // .service:last-child{
  //   padding-right:0
  // }

  .service-container{
    width:100%;
  }

}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}

a {
  color: $brand-primary;
}

a:hover,
a:focus,
a:active,
a.active {
  color: darken($brand-primary, 10%);
}

h1, h2, h3, h4, h5, h6 {
  .heading-font{
    font-weight: 700;  
  }
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: $gray-lighter;
}

.bg-darkest-gray {
  background-color: $gray-darkest;
}

// Restyled Primary Buttons

.btn-primary {
  .heading-font{
    font-weight: 700;  
  }
  
}

.btn-xl {
  
  .heading-font{
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
  }
}


// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
    background: $brand-primary;
}

::selection {
    text-shadow: none;
    background: $brand-primary;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: $brand-primary;
}








//input designs

.blend-input, .blend-textarea{
      display: block;
    height: 33px;
    line-height: 25px;
    width: 380px;
    font-size: 12px !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-top-right-radius: 2px;
    -moz-border-top-left-radius: 2px;
    -moz-border-bottom-right-radius: 2px;
    -moz-border-bottom-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 0 0 0 10px;
    border: 1px solid #e0e0e0;
    box-shadow: none;
    background-color: white;
    outline:none;
}


.blend-textarea{
  height:150px;
}
