@import "../fonts/fonts.scss";
@import "applicationStart.scss";
@import "variables.scss";
@import "mixins.scss";
// Global Components

body {
  margin:0;
  padding:0;
  overflow:hidden;
}

header{
  position: fixed !important;
  height:100%;
  left:0;
  padding:0;
  z-index: 9999;
  background:#F5F5F5;
  padding:0 !important;
}

.view-port{
  width:50%;
  padding:20px;
  top:70px;
  position: relative;
  position:absolute;
  float:left;
  height:100%;
  z-index: 0;
}

.lender.view-port{
  margin-left:50%;
  background:#fafafa;
  height:100%;
}


  .brand{
    background:#14252E;
    width:100%;
    height:70px;
    box-shadow:#E0E0E0 0 1px 3px 0px;
    img{
      margin-left:15px;
      height:40px;
      margin-top:12px;
    }
  }

.dashboard-header{
  height:70px;
  box-shadow:#E0E0E0 0 1px 3px 0px;
  background:#14252E;

}

#split-bar {
    background: rgba(235,235,235,1);
background: -moz-linear-gradient(left, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 68%, rgba(235,235,235,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,235,235,1)), color-stop(35%, rgba(255,255,255,1)), color-stop(68%, rgba(255,255,255,1)), color-stop(100%, rgba(235,235,235,1)));
background: -webkit-linear-gradient(left, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 68%, rgba(235,235,235,1) 100%);
background: -o-linear-gradient(left, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 68%, rgba(235,235,235,1) 100%);
background: -ms-linear-gradient(left, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 68%, rgba(235,235,235,1) 100%);
background: linear-gradient(to right, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 68%, rgba(235,235,235,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ebebeb', GradientType=1 );
    height:100%;
    left:50%;
    margin-left:-14px;
    position: absolute;
    width: 14px;
    cursor: col-resize;
    z-index: 999;


}
#split-bar:after {
    content : '';
    background-image:url(../img/bar-split.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top:50%;
    width:10px;
    height:25px;
    margin-top:-15px;
    left:2px;
}



.main-container{
  position: absolute;
  background:#fff;
  min-height: 100%;
  left:25%;
  padding:0;
}

nav{
  width: 100%;
  margin-top:30px;
  ul{
    padding:0;
    margin:0;
    width:100%;

    ul{
      display: none;
    }
    li{
      list-style: none;
      color:#4A4A4A;
      padding:0;
      border-top:1px #E0E0E0 solid;
      cursor: pointer;
      text-transform: capitalize;
      a, a:hover, a:visited{
        color:#4A4A4A;
        text-decoration:none;
        padding:20px 10px;
        display: block;
        width:100%;
        background:url(../img/carat.png) no-repeat 95% center;
      }
      &.open{
        background:#fff;
        padding-bottom:30px;
         a, a:visited{
          background:#14252E url(../img/carat-down.png) no-repeat 95% center;
          color:#fff;
          font-size:16px;
          text-decoration: none;
          margin-bottom:20px;
         }
        ul{
          display: block;
          li{
            padding:5px 20px;
            margin:0;
            &:hover{
              background:#f5f5f5;
            }
          }          
        }
      }
      li{
        margin:0;
        padding:0;
        border:none;
        padding-left:20px;
        margin-top:10px;
      }
    }
  }
}

.inner-container{
  max-width:1040px;
  margin:0 auto;
}

.text-muted {
  color: $gray;
}

.text-primary {
  color: $brand-primary;
}


.emblem-start{
  .inner-container{
    background:#000;
  }
}

#services{

  padding:0;
  background:rgba(255, 255, 255, .95);
  float: left;
  position: relative;
  width: 100%;
    @media(max-width : 420px){
      padding-top:30px;
    }
  .service{
    @media(max-width : 420px){
      margin-left:3%;
      padding:0;
      margin-bottom:20px;
      float:left;
      width:90%;
      left:5%;
    }
    float:left;
    display: block;
    cursor: pointer;
    font-family: $whitney;
    h4{
      float:left;
      clear:right;
      font-size:28px;
      color:#495452;
    }
  &.prepare{
      background:url(../img/service-prepare.png) no-repeat 45px center;
  }
  &.calculate{
      background:url(../img/service-calculate.png) no-repeat 45px center;
  }
  &.compare{
      background:url(../img/keys.svg) no-repeat 45px center;
  }
    text-align: left;
    padding:0 !important;
    border-right:rgba(73, 84, 82, .15) 1px solid;
    &:last-child{
      border-right:none;
    }
    .inner{
     color:#333;
     padding:20px;
     padding-bottom:30px;
     float:left;
     padding-left:136px;

     .service-heading{
      // font-size:32px;
     }

     p{
      float:left;
      font-size:14px;
      padding-right:25px;
      line-height:20px;
      font-family: $gotham;

     }

    }
  }

  // .service:last-child{
  //   padding-right:0
  // }

  .service-container{
    width:100%;
  }

}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}

a {
  color: $brand-primary;
}

a:hover,
a:focus,
a:active,
a.active {
  color: darken($brand-primary, 10%);
}

h1, h2, h3, h4, h5, h6 {
  .heading-font{
    font-weight: 700;  
  }
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: $gray-lighter;
}

.bg-darkest-gray {
  background-color: $gray-darkest;
}

// Restyled Primary Buttons

.btn-primary {
  .heading-font{
    font-weight: 700;  
  }
  
}

.btn-xl {
  
  .heading-font{
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
  }
}


// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
    background: $brand-primary;
}

::selection {
    text-shadow: none;
    background: $brand-primary;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: $brand-primary;
}








//input designs

.blend-input, .blend-textarea{
      display: block;
    height: 33px;
    line-height: 25px;
    width: 380px;
    font-size: 12px !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-top-right-radius: 2px;
    -moz-border-top-left-radius: 2px;
    -moz-border-bottom-right-radius: 2px;
    -moz-border-bottom-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 0 0 0 10px;
    border: 1px solid #e0e0e0;
    box-shadow: none;
    background-color: white;
    outline:none;
}


.blend-textarea{
  height:150px;
}
