.multiple_buttons{
  input[type="radio"]{
        float:left;
        width: auto !important;
        height: auto !important;
        vertical-align: top;
        margin: 1px 15px 0 0;
    }

    label{
        float:left;
    }

    .input-text{
        display: block;
        width:100%;
        float:left;
        clear: both;
    }
}
